---
import { socials } from "@/data/socials";
---
<div class="row">
  <a class="btn" href={socials.instagram} target="_blank" rel="noopener">Instagram</a>
  <a class="btn ghost" href={socials.telegram} target="_blank" rel="noopener">Telegram</a>
  <a class="btn ghost" href={socials.youtube} target="_blank" rel="noopener">YouTube</a>
  <a class="btn ghost" href={socials.email}>Email</a>
  <a class="btn ghost" href={socials.linktree} target="_blank" rel="noopener">Linktree</a>
</div>
